
body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #b2e3ee;
    font-size: 95%;
}
img {
    height: 450px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #2795f9
}
a {
    /* remove links underline */
    text-decoration:none;
    /* remove links color */
    color: inherit;  
}
/* .header {
     position: fixed; 
     opacity: 0.5;
     color: black;

} */

/* main section */
.main {
    background-color: #DCDCDC;
    padding-bottom: 20px;
    padding-top: 50px;

}
/* end of main section */

/* Navbar */

.navbar {
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  top: 0;
  width: 75%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(107, 45, 170);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rebeccapurple;
    opacity: 0.5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* end of navbar */


/* footer */
.footer {
    text-align: center;
    height: 90px;
    padding: 3em;
    background-color: #333;
}

footer p {
    color: white;
}
/* end of footer */